/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/*
 *---------------------------------------------------
 * RESETS
 *---------------------------------------------------
 */
div, header, nav, footer, section{
	margin:0;
	padding:0;
}
p{
	margin:0;
	padding:0;
}
a, a:link, a:visited{
	color:#006666;
	text-decoration:none;
	outline:none;
}
a:hover{
	color:#006873;
	text-decoration:underline;
}
ul, li{
	margin:0;
	padding:0;
	list-style:none;
}
ol{
	margin:0;
	padding:0 0 0 15px;
}
h1 {
       color: #547f00;
       color: black;
       font-size: 1.5em;
       line-height: 1.3em;
       padding: 10px 0 10px 0;
}
h2, h3, h4, h5, h6{
	margin:0;
	padding:0;
}
form{
	margin:0;
	padding:0;
}
table, tr, td{
	margin:0;
	padding:0;
}
input{
	outline:none;
}

/*
 *---------------------------------------------------
 *  HTML AND BODY
 *---------------------------------------------------
 */
html{
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	overflow:hidden;
}
body{
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	height:100%;
	width:100%;
}
.alert{
      	color:red;
}
main_content.alert{
	background:#f8dcdb;
	border:1px solid red;
	font-size:1em;
}
div.error h2{
	margin: 15px 0 0px 0;
	font-weight:bold;
	color:red;
}
.field_with_errors{
	color:red;
}

/*
 *---------------------------------------------------
 *  header
 *---------------------------------------------------
 */

#header {
  background-color: #83ad00;
  overflow: hidden;
  -moz-box-shadow: #dddddd 0 2px 5px 3px;
  -webkit-box-shadow: #dddddd 0 2px 5px 3px;
  -o-box-shadow: #dddddd 0 2px 5px 3px;
  box-shadow: #dddddd 0 2px 5px 3px;
}

#header .container {
  margin: 0px auto;
  padding: 0px;
  position: relative;
  min-width: 960px;
}

#header .container h1#logo {
  display: block;
  clear: none;
  float: left;
  font-size: 1.6em;
  margin: 0 0 0 0px;
  padding: 0;
}

#header .container h1#logo a {
  display: block;
  clear: none;
  float: left;
  padding: 20px 0 20px 60px;
  color: white;
  text-decoration: none;
}

#header .container h1#logo a span {
  display: block;
  clear: none;
  float: left;
  padding: 0;
  margin: 0;
}

#header .container h1#logo a span.light {
  color: #c6ff14;
  color: #666666;
}

#header .container ul#nav {
  float: none;
  clear: both;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: block;
  float: right;
  clear: none;
  padding: 20px 30px 0 0;
}

#header .container ul#nav li {
  float: left;
  clear: none;
  margin: 0;
  padding: 2px 10px;
  border-right: 1px solid #dddddd;
}

#header .container ul#nav li:last-child, #header .container ul#nav li.last {
  padding-right: 0;
  border-right: none;
}

#header .container ul#nav li {
  border-color: #9bbd32;
  border: none;
}

#header .container ul#nav li a {
  display: block;
  padding: 8px 10px 8px 10px;
  color: #999999;
  text-decoration: none;
  background-color: none;
  color: white;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

#header .container ul#nav li a:active, #header .container ul#nav li a.active, #header .container ul#nav li a:hover {
  background-color: #547f00;
  color: white;
}


/*
 *---------------------------------------------------
 *  main content
 *---------------------------------------------------
 */
#main_content{
	padding:0;
       background:#fff;
	margin:0 auto;
	border:5px solid #89bf04;
	//-moz-box-shadow:0 0 5px #999;
	//-webkit-box-shadow: 0 0 5px #999;
	//box-shadow:0 0 5px #999;
	position:absolute;
       left:30px;
       top:110px;
}

/*
 *---------------------------------------------------
 *  forms
 *---------------------------------------------------
 */
#login_content,
#reg_content,
#edit_content{
       min-width: 700px;
	min-height: 500px;
}
#login_content h3,
#reg_content h3,
#edit_content h3{
	font-size:1.5em;
	color:green;
	padding:7px 0 20px 40px;
}
#login_form,
#reg_form,
#edit_form{
	position:absolute;
	top:30px;
	left:30px;
	color:green;
}
#login_form #links,
#reg_form #links,
#edit_form #logout_link{
	position:absolute;
	buttom:0px;
	right:0px;
	color:green;
}