/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/*
 *---------------------------------------------------
 * RESETS
 *---------------------------------------------------
 */
div, header, nav, footer, section{
	margin:0;
	padding:0;
}
p{
	margin:0;
	padding:0;
}
a, a:link, a:visited{
	color:#006666;
	text-decoration:none;
	outline:none;
}
a:hover{
	color:#006873;
	text-decoration:underline;
}
ul, li{
	margin:0;
	padding:0;
	list-style:none;
}
ol{
	margin:0;
	padding:0 0 0 15px;
}
h1 {
       color: #547f00;
       color: black;
       font-size: 1.5em;
       line-height: 1.3em;
       padding: 10px 0 10px 0;
}
h2, h3, h4, h5, h6{
	margin:0;
	padding:0;
}
form{
	margin:0;
	padding:0;
}
table, tr, td{
	margin:0;
	padding:0;
}
input{
	outline:none;
}

/*
 *---------------------------------------------------
 *  HTML AND BODY
 *---------------------------------------------------
 */
html{
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	overflow:hidden;
}
body{
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	height:100%;
	width:100%;
}
.alert{
      	color:red;
}
main_content.alert{
	background:#f8dcdb;
	border:1px solid red;
	font-size:1em;
}
div.error h2{
	margin: 15px 0 0px 0;
	font-weight:bold;
	color:red;
}
.field_with_errors{
	color:red;
}

/*
 *---------------------------------------------------
 *  main content
 *---------------------------------------------------
 */
#main_content{
	padding:0;
       background:#fff;
	margin:0 auto;
	border:5px solid #83ad00;
	position:absolute;
       left:30px;
       top:110px;
}

/*
 *---------------------------------------------------
 *  forms
 *---------------------------------------------------
 */
#login_content,
#reg_content,
#edit_content{
       min-width: 700px;
	min-height: 500px;
}
#login_content h3,
#reg_content h3,
#edit_content h3{
	font-size:1.5em;
	color:#83ad00;
	padding:7px 0 20px 40px;
}
#login_form,
#reg_form,
#edit_form{
	position:absolute;
	top:30px;
	left:30px;
	color:green;
}
#login_form #links,
#reg_form #links,
#edit_form #logout_link{
	position:absolute;
	buttom:0px;
	right:0px;
	color:green;
}