<!DOCTYPE html>
<html>
<head>
    <title>Get Started</title>
    <%= stylesheet_link_tag "markdown" %>
</head>

<body>
  <div id="get_started">
    <%= render :partial => "get_started" %>
  </div>
</body>
</html>
